.system-ker-nethalas {
  // Styles for the Ker Nethalas system
  .actor {
    .header-fields {
      input {
        border: 1px solid;
      }
      h5 {
        margin: 0.5rem 0 0.25rem;
      }
      .left-label {
        display: block;
        width: 120px;
        padding-right: 1rem;
        text-align: right;
      }
      .level-input {
        width: 3rem;
      }
      .xp-section {
        width: 210px;
        justify-content: end;
        .xp-input {
          width: 5rem;
        }
      }
    }
    .skills {
      padding: 0.5rem 0;
      input[type='number'] {
        width: 2rem;
      }

      .skill-table {
        border: 1px solid;
        .skill-column {
          > :not(:last-of-type) {
            border-bottom: 1px solid;
          }
          .skill-row {
            padding: 0.25rem;
          }
        }
      }

      .masteries {
        .tier-label {
          min-width: 35px;
        }
      }

      input[type='range'] {
        height: 15px;
        aspect-ratio: 21;
        padding-inline: calc(15px / 2);
        box-sizing: border-box;
        appearance: none;
        cursor: pointer;
        mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'><path d='M159.3 5.4c7.8-7.3 19.9-7.2 27.7 .1c27.6 25.9 53.5 53.8 77.7 84c11-14.4 23.5-30.1 37-42.9c7.9-7.4 20.1-7.4 28 .1c34.6 33 63.9 76.6 84.5 118c20.3 40.8 33.8 82.5 33.8 111.9C448 404.2 348.2 512 224 512C98.4 512 0 404.1 0 276.5c0-38.4 17.8-85.3 45.4-131.7C73.3 97.7 112.7 48.6 159.3 5.4zM225.7 416c25.3 0 47.7-7 68.8-21c42.1-29.4 53.4-88.2 28.1-134.4c-4.5-9-16-9.6-22.5-2l-25.2 29.3c-6.6 7.6-18.5 7.4-24.7-.5c-16.5-21-46-58.5-62.8-79.8c-6.3-8-18.3-8.1-24.7-.1c-33.8 42.5-50.8 69.3-50.8 99.4C112 375.4 162.6 416 225.7 416z'/></svg>");
        mask-size: 15px;
        background-color: field;
        --range-track-color: transparent;
      }

      input[type='range' i]::-webkit-slider-thumb {
        width: 1px;
        border-image: linear-gradient(90deg, rgb(255, 102, 0) calc(50% + 15px / 2), grey 0) fill 0 / 0 / 15px 600px;
        appearance: none;
      }
      input[type='range']::-moz-range-thumb {
        width: 1px;
        border-image: linear-gradient(90deg, rgb(255, 102, 0) calc(50% + 15px / 2), grey 0) fill 0 / 0 / 15px 600px;
        appearance: none;
      }
    }

    .perks {
      .editor-host {
        max-height: 100px;
        border: 1px dashed;
        padding: 0.25rem;
        .editor {
          min-height: 100px;
        }
      }
    }

    .mechanics {
      .overseer-influence {
        .editor-host {
          max-height: 100px;
          .editor {
            min-height: 100px;
          }
        }
      }
      .editor-host {
        max-height: 150px;
        border: 1px dashed;
        padding: 0.25rem;
        .editor {
          min-height: 150px;
        }
      }
      .die-mechanics {
        text-align: center;
      }
      .rollable {
        text-decoration: underline;
      }
    }

    .inventory {
      .gear-list {
        height: 200px;
        border: 1px dashed;
      }
      .backpack-list {
        height: 200px;
        border: 1px dashed;
      }
      .non-encumbering-items-list {
        height: 200px;
        border: 1px dashed;
      }
    }
  }

  .item {
    .header-fields {
      input,
      select {
        border: 1px solid;
      }
      h5 {
        margin: 0.5rem 0 0.25rem;
      }
      .left-label {
        display: block;
        width: 120px;
        padding-right: 1rem;
        text-align: right;
      }
    }
    .editor-host {
      max-height: 100px;
      border: 1px dashed;
      padding: 0.25rem;
      .editor {
        min-height: 100px;
      }
    }
  }

  .modify-roll-dialogue {
    label {
      min-width: 100px;
    }
  }

  .gap-min {
    gap: 0.25rem;
  }

  .gap-small {
    gap: 0.5rem;
  }

  .gap {
    gap: 1rem;
  }

  .gap-large {
    gap: 1.5rem;
  }

  .border-right {
    border-right: 1px solid;
  }

  .border-bottom {
    border-bottom: 1px solid;
  }

  .rollable {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  .align-normal {
    align-items: normal;
  }

  .vertical-divider {
    width: 2px;
    height: 100%;
    background-color: var(--color-tabs-border);
    margin: 0 0.25rem;
  }

  .success-text {
    color: var(--color-level-success);
  }

  .failure-text {
    color: var(--color-level-error);
  }

  .section-title {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 20px;
    width: 100%;
  }

  .section-title:before,
  .section-title:after {
    content: '';
    border-top: 2px solid;
  }
}
